.btn {
  @apply bg-red my-3 px-4 pt-4 pb-3 text-white leading-none no-underline uppercase font-brand font-bold;

  text-shadow: none;
  transition: 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    @apply bg-red-light;
  }
}

.btn-inverse {
  @apply font-bold font-brand text-red no-underline uppercase px-1 pt-1 inline-block;

  font-size: 13px;

  &:hover,
  &:focus,
  &:active {
    @apply bg-red text-white;

    #link {
      fill: $white;
    }
  }
}

.btn-white {
  @apply bg-white my-3 px-4 pt-4 pb-3 text-red leading-none no-underline uppercase font-brand font-bold;

  text-shadow: none;
  transition: 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    @apply bg-red-lighter;
  }
}

.btn svg,
.btn-inverse svg {
  display: inline-block;
}
