.lg-sub-html a {
  color: $white;
}

#lightgallery {
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Chrome Canary */
  scroll-snap-type: mandatory; /* Firefox */
  -ms-scroll-snap-type: mandatory; /* IE/Edge */
  -webkit-scroll-snap-type: mandatory; /* Safari */
  -webkit-scroll-snap-destination: 0% 0%;
  -webkit-overflow-scrolling: touch; /* important for iOS */
}

.gallery-item {
  scroll-snap-align: start; /* latest (Chrome 69+) */
  scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
  -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}

.gallery-item .image {
  background-size: cover;
  background-position: center center;
}

.wp-block-gallery .blocks-gallery-item figcaption {
  @apply pt-2;

  background: rgba(255, 255, 255, 0.5);
}

.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-item figcaption a {
  @apply font-brand text-black;
}
