.hero {
  position: relative;
  height: 480px;
  margin-bottom: 40px;
  background: transparent url('../images/hero.jpg') top center no-repeat;
  background-size: cover;

  @screen lg {
    background-image: url('../images/hero-lg.jpg');
  }

  .hero-text {
    max-width: 770px;

    @apply font-brand;
  }

  h1 {
    font-weight: 600;
    color: $white;
    text-align: center;
    line-height: 37.5px;
    text-transform: uppercase;
    font-size: 26px;
    margin: 0 auto 28px auto;

    @screen lg {
      font-size: 32px;
      margin: 36px auto;
    }
  }

  .tagline {
    display: flex;
    background-color: theme('colors.red');
    border-left: 5px solid theme('colors.yellow');
    margin: 15px auto;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: $white;
    padding: 7px 20px 7px 10px;

    @screen lg {
      display: flex;
      margin: 15px 0;
      padding: 7px 40px 7px 10px;
    }
  }

  .name {
    display: inline-block;
    padding: 0 10px;
    margin: 10px auto 40px;
    background-color: $white;

    @screen md {
      display: inline-flex;
    }

    @screen lg {
      display: flex;
      margin-bottom: 24px;
      font-size: 20px;
      margin-left: 20px;
      background-color: transparent;
    }
  }

  .location-date {
    font-size: 18px;
    line-height: 20px;
    max-width: 450px;
  }

  .location-date svg {
    @screen sm-only {
      display: block;
      margin: 0 auto 6px;
    }

    @screen md {
      margin-right: 4px;
      margin-bottom: -3px;
    }
  }

  //&::after {
  //  position: absolute;
  //  display: block;
  //  bottom: 2px;
  //  right: 5px;
  //  content: "CC-BY Author";
  //  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  //  color: $white;
  //  font-size: 12px;
  //}

  .hero__logo {
    top: -40px;
  }

  .hero__tagline {
    padding-top: 66px;
    line-height: 40px;
  }

  .hero__cta {
    margin-bottom: -40px;
    margin-top: 40px;
  }
}

.home-sponsors a {
  &:hover,
  &:focus,
  &:active {
    //border-bottom: none;
    border-color: transparent;
  }
}
