/* purgecss start ignore */
@mixin symbol-icon() {
  &:hover svg {
    #outtercircle {
      fill: theme('colors.red');
    }
  }
}

.symbol.active {
  @include symbol-icon();
}

.symbol {
  @apply no-underline;
}

.symbol-label {
  @apply text-sm font-brand uppercase text-grey-dark mt-4 block;
}

.symbol-sm svg {
  display: inline-block;
  width: 87px;
  height: 87px;
}

.social .hover-red {
  &:hover,
  &:active {
    svg #inside {
      fill: theme('colors.red');
    }
  }
}

/* purgecss end ignore */
