/* purgecss start ignore */
@mixin symbol-icon($x1, $y1) {
  svg #icon {
    filter: none;
    transform: translate($x1, $y1);
  }

  &:hover svg {
    #icon {
      filter: url(#filter-1);
      transform: translate($x1, $y1 - 8px);
    }
  }
}

.cfp-active {
  @include symbol-icon(11px, 41px);
}

.hotel-active {
  @include symbol-icon(20px, 43px);
}

.milan-active {
  @include symbol-icon(29px, 22px);
}

.question-active {
  @include symbol-icon(43px, 24px);
}

.registration-active {
  @include symbol-icon(38px, 24px);
}

.speakers-active {
  @include symbol-icon(39px, 16px);
}

.travel-active {
  @include symbol-icon(33px, 32px);
}

.venue-active {
  @include symbol-icon(44px, 34px);
}

.welcome-active {
  @include symbol-icon(25px, 21px);
}

.symbol {
  @apply no-underline;
}

.symbol-label {
  @apply text-sm font-brand uppercase text-grey-dark mt-4 block;
}

.symbol-sm svg {
  width: 87px;
  height: 87px;
}

.social .hover-red {
  &:hover,
  &:active {
    svg #inside {
      fill: $red;
    }
  }
}

/* purgecss end ignore */
