h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

p {
  @apply mb-3 leading-normal;
}

.content p a {
  @apply text-primary no-underline border-b border-transparent;

  transition: 0.2s ease;

  //&:hover {
  //  @apply border-primary;
  //}
}

.heading {
  @apply relative font-brand text-2xl uppercase pb-6 mb-8;

  @screen md {
    @apply pb-8 mb-16 text-3xl;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: calc(100% - 21px);
    background-color: $red;

    @screen md {
      height: 8px;
    }
  }
}

.panel p {
  @apply text-sm;

  @screen md {
    @apply text-base;
  }

  &:last-of-type {
    @apply mb-6;
  }
}

.panel {
  h2 a {
    @apply text-red no-underline border-b border-transparent;

    transition: 0.2s ease;

    &:hover {
      @apply border-red border-b-2;
    }
  }

  p a {
    @apply text-red no-underline border-b border-transparent;

    transition: 0.2s ease;

    &:hover {
      @apply border-red border-b;
    }
  }
}

footer {
  background: $red url('../images/bg-footer.png') repeat-x bottom;

  @screen md {
    height: 374px;
  }
}
