html {
  @apply font-brand;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-10 mb-4 leading-tight font-brand;
}

p {
  @apply mb-3 leading-normal;
}

.content p a,
.content td a {
  @apply text-red no-underline border-b border-transparent;

  transition: 0.2s ease;

  //&:hover {
  //  @apply border-primary;
  //}
}

.heading {
  @apply relative font-brand text-2xl uppercase pb-6 mb-8;

  @screen md {
    @apply pb-8 mb-16 text-3xl;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: calc(100% - 21px);
    background-color: theme('colors.red');

    @screen md {
      height: 8px;
    }
  }
}

.panel {
  & :first-child {
    @apply mt-0;
  }

  h2 a {
    @apply text-red no-underline border-b border-transparent;

    transition: 0.2s ease;

    &:hover {
      @apply border-red border-b-2;
    }
  }

  p,
  li {
    @apply text-sm;

    @screen md {
      @apply text-base;
    }

    @screen lg {
      @apply text-lg;
    }

    &:last-of-type {
      @apply mb-6;
    }
  }

  li {
    margin-bottom: 8px;
  }

  p a {
    @apply text-red no-underline border-b border-transparent;

    transition: 0.2s ease;

    &:hover {
      @apply border-red border-b;
    }
  }
}

footer {
  background-color: theme('colors.red');
  background-image: url('../images/bg-footer.png');
  background-repeat: repeat-x;
  background-size: contain;

  @screen md {
    height: 374px;
  }
}

body {
  color: #4a4a4a;
  background-color: white;
}

.main ol,
.main ul {
  line-height: 1.5;
}

.main h1,
.main h2,
.main h3 {
  text-transform: uppercase;
}

.social {
  top: 260px;
  z-index: 100;
}

.social .text {
  display: inline-block;
  transform: rotate(-90deg);
  height: 60px;
  width: 100px;
}

.mb-0-important {
  margin-bottom: 0 !important;
}
